<a href="https://colab.research.google.com/github/samnaveen1/CODSOFT-Tech-Internship-Tasks/blob/main/Data_Science_Internship_%5BTask_4%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
#To load the dataset
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/Internship /IBM indian movies/IMDb Movies India.csv',encoding='latin')
data.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [34]:
#checking the null values
data.isnull().sum()
#In this dataset, there are a total of 15,000 rows, but around 7,000 to 8,000 rows contain null values. To avoid affecting the model's accuracy, we should exclude columns with a large number of null values.

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [35]:
data.shape

(15509, 10)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [37]:
# To convert the catagerical variable to numerical
from sklearn.preprocessing import LabelEncoder
obj1=LabelEncoder()
data['Genre']=obj1.fit_transform(data[['Genre']])
data['Director']=obj1.fit_transform(data[['Director']])
data['Actor 1']=obj1.fit_transform(data[['Actor 1']])
data['Year']=obj1.fit_transform(data[['Year']])
data['Rating']=obj1.fit_transform(data[['Rating']])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [38]:
data.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,102,NaN,299,84,NaN,1926,2250,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),98,109 min,299,56,8,1548,3280,Vivek Ghamande,Arvind Jangid
2,#Homecoming,100,90 min,351,84,NaN,5123,3713,Plabita Borthakur,Roy Angana
3,#Yaaram,98,110 min,228,30,35,3319,2917,Ishita Raj,Siddhant Kapoor
4,...And Once Again,89,105 min,299,84,NaN,385,3112,Rituparna Sengupta,Antara Mali

In [39]:
# To filling the missing values
data['Year']=data['Year'].fillna(data['Year'].mean())
data['Genre']=data['Genre'].fillna(data['Genre'].mean())
data['Director']=data['Director'].fillna(data['Director'].mean())
data['Actor 1']=data['Actor 1'].fillna(data['Actor 1'].mean())
data['Rating']=data['Rating'].fillna(data['Rating'].mean())

In [40]:
data.isnull().sum()

Name           0
Year           0
Duration    8269
Genre          0
Rating         0
Votes       7589
Director       0
Actor 1        0
Actor 2     2384
Actor 3     3144
dtype: int64

In [41]:
# to scaling the dataset
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
for col in ['Year','Genre','Actor 1','Director','Rating']:
  data[[col]] = sc.fit_transform(data[[col]])

In [42]:
# to split the x and y and train and test
X=data.iloc[:,[1,3,6,7]]
X
y=data.iloc[:,4]
y
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2,random_state=1)

In [43]:
# To fit the model
from sklearn.linear_model import LinearRegression
le=LinearRegression()
le.fit(xtrain,ytrain)
ypred=le.predict(xtest)

In [44]:
# To  Evaluate the model
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.model_selection import cross_val_predict
r2=r2_score(ytest,ypred)
mse=mean_squared_error(ytest,ypred)

In [45]:
print("R-squared (R2)Score:",r2)
print("Mean Squared Error(MSE):",mse)

R-squared (R2)Score: 0.1291222923010923
Mean Squared Error(MSE): 0.864021264227662

Reason :

In this dataset, there are a total of 15,000 rows, but around 7,000 to 8,000 rows contain null values. Since the target variable (y) is the "Rating," the large number of missing values in this column may be the reason for the low accuracy of the model.